/*
	Theme Name: Master Study Child
	Theme URI: http://stylemix.net
	Description: MasterStudy Child Theme
	Author: StylemixThemes
	Author URI: http://stylemix.net
	Template: masterstudy
	Version: 1.4
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: classes, courses, education, education center, learning center, tutoring, teaching, study, studying, learning, lessons, instructor, teacher, mentor
	Text Domain: masterstudy-child
*/

p {
    margin-bottom: 10px;
}

.vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
    visibility: visible;
    width: 25% !important;
    height: 180px !important;
    margin-bottom: 55px;
}

.vc_images_carousel.vc_build .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
    visibility: visible;
    width: 25% !important;
    height: 180px !important;
    margin-bottom: 55px;
}

.vc_images_carousel .vc_carousel-inner {
    position: initial !important;
    overflow: visible !important;
    width: 100%;
}

.post_list_meta_unit { display: none; }

.wpb_wrapper { line-height: 2em}