/*
Theme Name: Medical Directory Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Medical Directory
Author: Uouapps
Author URI: http: //mysite.com/
Template: medical-directory
Version: 0.1
*/
@import url("../medical-directory/style.css");

.right_sidebar  #menu-main-menu-2 {
    padding:0px ;
}
.right_sidebar ul#menu-main-menu-2 li a,
.right_sidebar ul#menu-main-menu-2 li ul li a,
.right_sidebar ul#menu-main-menu-2 li.current-menu-item ul li a {
    color: #333333;
}
.right_sidebar ul#menu-main-menu-2 li {
    display: none;
}
.right_sidebar ul#menu-main-menu-2 li.current-menu-item a,
.right_sidebar ul#menu-main-menu-2 li ul li.current-menu-item a
{
    color: #0099fe
}

.right_sidebar ul#menu-main-menu-2 li.current-page-parent,
.right_sidebar ul#menu-main-menu-2 li.current-menu-item,
.right_sidebar ul#menu-main-menu-2 li.current-menu-item ul.sub-menu li
{
    display: block;
}

.sidebar-content .item_active_left li a:hover {
    color: #0099fe;
}

.fix-height { height: 300px;}

.uou-block-6a { text-align: left !important;}
.uou-block-6a span { font-weight: bold; }